@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  /* background:var(--ThemeColor); */
  /*url("./Assets//back.jpg");*/
background: var(--AppTheme); 
border-top:8px solid var(--GreenSeaColor);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 filter:var(--ThemeNormal);
}

/* App Background */
body {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Error Message For Validation Fails */
.ValidationError {
  color: var(--ThemeColor);
  margin: 0px;
  font-size: 0.7em;
  font-family: var(--FONT);
}

/* RESPONSIVEWEB ON PHONE VIEW */

@media only screen and (max-width: 600px) {
  .gifHolder {
    
  }



  body{background:white;}
}
