.filepond--drop-label{
    background:var(--CalendarTopTitle);
    border-top:2px solid var(--GreenSeaColor);
    color:var(--PaperColor);
    border-radius:4px;
}
.FileUploaderComponent{

}

.Post{
display:grid;
grid-template-columns: repeat(3, 1.5fr); 
gap:25px;
}

